<mat-toolbar class="header-bar">
  <button class="toggleSidenav" (click)="toggleSidenav()"><mat-icon color="primary">menu</mat-icon></button>
  <a class="main-logo" [routerLink]="'/'"><mat-icon color="primary">headset_mic</mat-icon><span class="app-title"> {{title}}</span></a>
  <span class="spacer"></span>
  <mat-slide-toggle class="toggleTheme" color="primary" (change)="toggleTheme()"></mat-slide-toggle>
  <button mat-button color="primary" [routerLink]="'./user/login'">
    <mat-icon class="action_icon">person</mat-icon>Login
  </button>
</mat-toolbar>
